/* 
    Document   : style
    Created on : 17/03/2014, 12:36:41 AM
    Author     : Henrry
    Description:
        Purpose of the stylesheet follows.
*/

body {
	background-color: #FFFF99;
}
body,table {
	font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: blue;
}
a:hover {
    color: red;
}
.titulo{
    background-color: red;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

