<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>datos.servlets.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarSolicitudCompra</servlet-name>
        <servlet-class>datos.servlets.RegistrarSolicitudCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>datos.servlets.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rechazar</servlet-name>
        <servlet-class>datos.servlets.Rechazar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>datos.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoUsuario</servlet-name>
        <servlet-class>datos.servlets.NuevoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/RegistrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarSolicitudCompra</servlet-name>
        <url-pattern>/RegistrarSolicitudCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rechazar</servlet-name>
        <url-pattern>/Rechazar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoUsuario</servlet-name>
        <url-pattern>/NuevoUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
