<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ulima.arqui.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarConsumos</servlet-name>
        <servlet-class>ulima.arqui.servlets.ListarConsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leer</servlet-name>
        <servlet-class>ulima.arqui.servlets.Leer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>ulima.arqui.servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>ulima.arqui.servlets.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarConsumos</servlet-name>
        <url-pattern>/ListarConsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leer</servlet-name>
        <url-pattern>/Leer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
